/********** FILTRES **********/
.filtres_container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    margin-bottom: 40px;
}
  
.custom-select {
    width: 260px;
    height: 43px;
    z-index: 11;
}
  
.filtre-gauche {
    display: flex;
    width: 260px;
    height: 43px;
    margin-left: 145px;
    gap: 36px;
    isolation: isolate;
}
  
.filtre-droite {
    align-items: flex;
    width: 260px;
    height: 43px;
    margin-right: 145px;
    isolation: isolate;
}
  
.select2-selection__arrow {
    top: 8px !important;
    right: 10px !important;
}
  
.select2-selection--single {
    display: flex !important;
    align-items: center !important;
    padding: 12px 18px !important;
    width: 260px !important;
    height: 43px !important;
    border: 1.3px solid rgb(53, 54, 57) !important;
    border-radius: 8px !important;
}

.select2-selection__placeholder {
    color: #000 !important;
    font-family: 'Poppins', sans-serif !important;
}

.select2-dropdown {
    border: 1px solid rgb(54, 56, 59) !important;
    border-radius: 0 0 8px 8px !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
  
.select2-search--dropdown .select2-search__field {
    display: none;
}

.select2-container--default {
    font-family: 'Poppins', sans-serif !important;
    font-size: 0.75em !important;
}

.select2-container--default .select2-results__option--selected {
    border-radius: 2px !important;
    background-color: #E00000 !important;
}

.select2-container--default .select2-results__option:hover {
    border-radius: 2px !important;
    background-color: #FFD6D6 !important;
    color: #000 !important;
}

.select2-results__option--highlighted {
    border-radius: 3px !important;
    background-color: #E00000 !important;
    color: #000 !important;
}

/* Styles optionnels pour masquer les options de placeholder dans la liste déroulante */
.select2-results__option[data-select2-id*="placeholder"] {
    display: none !important;
}

.select2-results__option .select2-results__option--selectable .select2-results__option--selected .select2-results__option--highlighted {
    background-color: #E00000 !important;
    color: #000 !important;
}