h1, h2 {
    font-family: 'Space Mono';
    font-style: italic;
}

h3 {
    font-family: 'Space Mono';
}

p {
    font-family: 'Poppins';
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    width: 0px;
    display: none;
}

html, body {
    max-width: 1440px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

/********** Header et Footer **********/ 
.site-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
}

.logo {
    margin-left: 146px;
}

.menu-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
    margin-right: 70px;
}

/* Style pour les liens du menu header */
.menu-header li a {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.menu-header ul li {
    margin-left: 20px;
    size: 16px;
    font-weight: 400;
}

.menu-header li a:hover {
    font-weight: 700;
}

/* Mise à jour du footer */
.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    max-width: 1440px;
    height: 40px;
    background-color: #FFFFFF;
    border-top: 1px solid black;
}

.site-footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;
}

.menu-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 100px;
}


/********** Style pour les liens du menu footer ***********/
.menu-footer li a {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.menu-footer li a:hover {
    font-weight: 700;
}


/* Style pour le texte "Tous droits réservés" */
.site-footer p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
}

.site-footer p:hover {
    font-weight: 700;
}


/********** Style Hero ***********/
.hero {
    width: 100%;
    height: 962px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 79px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
  
.hero h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 3px #ffffff;
    z-index: 1;    
    font-family: 'Space Mono', sans-serif;
    font-size: 6em;
    font-style: italic;
    font-weight: 700;
    text-transform: uppercase;
}
  
/********** Photo Catalogue / Bouton Charger ***********/
.catalogueContainer {
    width: 80%;
    margin: 0 auto;
}

.photo-display {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}
  
.photo-item {
    position: relative;
    width: 100%;  
    height: 50vh; 
    overflow: hidden;
}
  
.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
} 

.btnLoad-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
    height: 50px;
    border: transparent;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
    font-family: 'Space Mono', sans-serif;
    font-size: 0.75em;
    color: #000;
    margin: 30px auto 30px auto;
}
  
.btnLoad-more:hover {
    background: #292727;  
    color: white;         
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;      
    transform: scale(1.05); 
    transition: all 0.3s ease-in-out; 
}
  


